<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbldGUzJxNHQ4VUk5NUpPV1Vsdlo4dlJ6Mlpod3xBQ3Jtc0trWTJ2VTFiSDVqempfNEdvLVVTTWdYUnk5bjh4dkM4aUk1amxvaGtTWnY1aEIwM1pwTjFGNWM1V0pFak4yUGZaNWRiQmJtZTVidGpyeTdQQUZzRWNsWGNTUGJMTWtqODRSN1prMERSNzFhWS1qcHJCSQ&q=https%3A%2F%2Fcdn.socket.io%2Fsocket.io-3.0.1.min.js&v=zWSvb5t_zH4"></script>
  <title>EJS Socket Client</title>
</head>
<body>
  
</body>
</html>